
<li class="user-li" data-local="1">
    <div class="collapsible-header user-header">New User</div>
    <div class="collapsible-body"><span>
        <div class="row">
            <div class="input-field col s12">
                <input class="user-email" type="text" data-length="256" maxlength="256">
                <label>Email</label>
            </div>
            <div class="input-field col s12">
                <input class="user-password tooltipped" data-position="top" data-delay="50" data-tooltip="You can leave the password blank to not change it." type="password" data-length="64" maxlength="64">
                <label>Password</label>
            </div>
            <div class="input-field col s12">
                <input class="user-fname" type="text" data-length="16" maxlength="16">
                <label>First Name</label>
            </div>
            <div class="input-field col s12">
                <input class="user-lname" type="text" data-length="16" maxlength="16">
                <label>Last Name</label>
            </div>
            <div class="input-field col s12">
                <select class="user-privileges" autocomplete="off">
                    <option value="1" selected>Parent</option>
                    <option value="2">Moderator</option>
                    <option value="3">Admin</option>
                </select>
                <label>Privileges</label>
            </div>
            <div class="input-field col">
                <a class="btn waves-effect waves-light purple darken-3 user-update">Submit<i class="material-icons right">send</i></a>
                <a class="btn waves-effect waves-light red user-delete">Delete<i class="material-icons right">delete</i></a>
            </div>
        </div>
    </span></div>
</li>