<!DOCTYPE html>
<html>
    <head>
        <!-- Title -->
        <title>Froogo</title>

        <!-- Import CSS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="icon" type="image/png" href="/img/logo.png">
        <link rel="stylesheet" type="text/css" href="/css/login.css?v1">

        {{ template "global-meta" . }}
    </head>

    <body>
        <div class="container">
            <h1>Froogo CS:GO Trading</h1>
            <p><a href="/panel">Login</a></p>
        </div>

        <!-- Import JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascr