{{ define "navbar" }}
<!-- Navbar -->
<nav class="orange accent-4">
    <div class="nav-wrapper container">
        <span class="hide-on-med-and-up">
            <a href="/panel" class="brand-logo">Froogo</a>
        </span>
        <span class="hide-on-small-only">
            <a href="/panel" class="brand-logo">Froogo</a>
        </span>
        <a href="#" data-target="side-bar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a>Welcome {{ .User.Fname }}</a></li>
            <li><a href="/panel">Inventory</a></li>
            <li><a href="/panel/trade-offers">Trade Offers</a></li>
            <li><a href="/">Homepage</a></li>
            <li><a onclick="$('#logout').submit();">Logout</a></li>
        </ul>

        <!-- Mobile Sidebar for Navbar -->
        <ul id="side-bar" class="sidenav">
            <li><a>Froogo<